*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 99 !important;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  height: 70px;
}

header nav h2 .navbar-brand {
  font-size: 32px;
  color: orange;
  transition: all 0.3s;
}
header nav h2 .navbar-brand:hover {
  color: black;
}
header nav h2 a i {
  position: absolute;
  top: 0;
  right: 90px;
  font-size: 20px;
}
header input {
  background: #fff url(./../img/blog_posts/search.png) no-repeat 10px center;
  border: 1px solid #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  transition: all 0.5s;
  cursor: pointer;
}
header input:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
  border-color: #eee;
}

#switchButton {
  background-color: transparent;
  border: none;
}
#switchButton .fa-sun {
  display: none;
  font-size: 25px;
  color: white;
}
#switchButton .fa-moon {
  display: block;
  font-size: 25px;
  color: white;
}
.nav-fixed #switchButton .fa-moon {
  color: black;
}
/* Dark Theme*/
.dark#myBody {
  background-color: rgb(70, 66, 66);
}
.dark #switchButton {
  background-color: transparent;
  border: none;
}
.dark .nav-fixed #switchButton .fa-sun {
  color: black;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}
header ul button {
  top: -15px;
}
header .icon {
  font-size: 30px;
  color: white;
  transform: translateY(-7px);
}

header .ms-2 .icon {
  font-size: 30px;
  color: white;
  transform: translateY(1px);
}
header ul li {
  text-align: center;
  width: 300px;
  height: 50px;
}
header ul li a {
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

header ul li:first-of-type a {
  color: orange;
}
header ul li:hover a {
  color: orange;
}
.nav-fixed .fa-bars {
  color: black;
}

main{
    background-image: url(./../img/404/error2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    height: 100vh;
}

.error-site-main {
  display: grid;
  align-items: center;
  min-height: 100vh;
}

svg {
    width: 500px;
    text-align: center;
    fill: #009f4d;
}

.circle {
    animation: out 2s infinite ease-out;
    fill: #009f4d;
}

.st1{
    font-size: 83px;
}

path#XMLID_5_ {
    fill: #009f4d;
    filter: url(#blurFilter4);
}

.search{
    position: relative;
}

.page-title{
    font-size: 24px;
    font-weight: bold;
}

.search .search-input {
    padding: 10px 58px 10px 20px;
    font-size: 16px;
    color: #060606;
    border: 2px solid #eee;
    border-radius: 35px;
    background: #f4f4f4;
    height: auto;
    line-height: 36px;
    cursor: text;
    width: 35%;
    margin-bottom: 40px;
}

.search button {
    border: none;
    color: #009f4d;
    line-height: 1;
    background: none;
    position: absolute;
    right: 66%;
    padding: 18px 18px;
    font-size: 16px;
}

.search-input input:focus{
    border: none;
}

.user-action a{
    text-decoration: none;
    color: #060606;
    font-weight: 600;
    transition: all 0.5s;
}

.user-action a:hover{
    color: #009f4d;
}

/* footer css */

.footer h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .footer a.logo {
    font-size: 32px;
    color: orange;
    padding: 0px;
    position: relative;
    transition: all 0.5s;
  }
  
  .footer a.logo i {
    position: absolute;
    top: -10px;
    left: 55px;
    font-size: 20px;
  }
  .footer a.logo:hover {
    color: black;
  }
  
  .footer .column-2 p {
    line-height: 24px;
  }
  .footer .footer-p p a {
    color: #707070;
  }
  .footer .footer-p p a:hover {
    color: orange;
  }
  
  .footer p.copy-text a {
    color: green;
  }
  
  .footer p.copy-text a:hover {
    color: orange;
  }
  
  .footer .subscribe input[type="email"] {
    background: #f4f4f4;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    outline: none;
    width: 80%;
    border: 1px solid #eee;
    border-radius: 30px 0px 0px 30px;
  }
  
  .footer .subscribe button {
    background: #009f4d;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    width: 20%;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
  }
  
  .footer .subscribe button:hover {
    opacity: 0.8;
  }
  
  .footer ul.social li,
  .footer ul.jst-link li {
    display: inline-block;
    margin-right: 5px;
  }
  
  .footer ul.social li a {
    color: green;
    width: 35px;
    height: 35px;
    background: rgb(10 191 83 / 8%);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    transition: all 0.5s;
  }
  
  .footer ul.social li a:hover {
    color: orange;
    background: rgb(255 201 69 / 19%);
    box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
  }
  
  .footer ul.social li a span {
    font-size: 15px;
    line-height: 35px;
  }

@keyframes out{
0% {
    r: 1;
    opacity: 0.9;
}
25% {
    r: 5;
    opacity: 0.3;
}
50% {
    r: 10;
    opacity: 0.2;
}
75% {
    r: 15;
    opacity: 0.1;
}
100% {
    r: 20;
    opacity: 0;
}
}
