/* header {
  display: flex;
} */

/* header h1 {
  color: #fb811e;
} */
/* 
.header_content {
  background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/b1.jpg);
}

.banner-w3ls-2 {
    background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/b8.jpg);
  } 
  
.banner-w3ls-3 {
 background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/b4.jpg);
 }
                  
  
  */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Volkhov", serif;
}
p {
  font-size: 17px;
  color: #707070;
  transition: all 0.5s;
}
body {
  scroll-behavior: auto;
}

.main-header {
  background-color: transparent;
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 90px;
  display: grid;
  align-items: center;
}
.nav-fixed {
  padding: 0px;
  border-bottom: none;
  z-index: 99 !important;
  background-color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  height: 70px;
}

header nav h2 .navbar-brand {
  font-size: 32px;
  color: orange;
  transition: all 0.3s;
}
header nav h2 .navbar-brand:hover {
  color: black;
}
header nav h2 a i {
  position: absolute;
  top: 0;
  right: 90px;
  font-size: 20px;
}
header input {
  background: #fff url(./../img/blog_posts/search.png) no-repeat 10px center;
  border: 1px solid #eee;
  padding: 0 10px;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  transition: all 0.5s;
  cursor: pointer;
}
header input:focus {
  width: 200px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
  padding-right: 15px;
  border-color: #eee;
}

#switchButton {
  background-color: transparent;
  border: none;
}
#switchButton .fa-sun {
  display: none;
  font-size: 25px;
  color: white;
}
#switchButton .fa-moon {
  display: block;
  font-size: 25px;
  color: white;
}
.nav-fixed #switchButton .fa-moon {
  color: black;
}
/* Dark Theme*/
.dark#myBody {
  background-color: rgb(70, 66, 66);
}
.dark #switchButton {
  background-color: transparent;
  border: none;
}
.dark .nav-fixed #switchButton .fa-sun {
  color: black;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}
header ul button {
  top: -15px;
}
header ul button i {
  font-size: 30px;
  color: white;
}

.logo2 {
  font-size: 30px;
  color: white;
  transform: translateY(-7px);
}
header ul li {
  text-align: center;
  width: 300px;
  height: 50px;
}
header ul li a {
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

header ul li:first-of-type a {
  color: orange;
}
header ul li:hover a {
  color: orange;
}
.nav-fixed .fa-bars {
  color: black;
}
.intro {
  /* width: 1296px; */
  position: relative;
}

.intro .navbar_left {
  position: absolute;
  z-index: 99;
  padding: 20px;
}

.intro .navbar_right {
  position: absolute;
  z-index: 99;
  justify-content: right;
}

.intro_left button {
  border-radius: 4px;
  background-color: #fb811e;
  color: white;
  padding: 20px 35px;
  font-size: 15px;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;
}

.intro_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.intro_left {
  padding: 20em 5em;
  width: 80%;
}

.intro_right {
  width: 100%;
}

/* content  */
.content h5 {
  color: #fb811e;
  font-size: 25px;
}
.content h4 {
  font-size: 45px;
  line-height: 50px;
  font-weight: 600;
}
.content p {
  font-size: 18px;
}
.content .btncss {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.5s;
}
.content .btncss:hover {
  color: white;
  background-color: #009f4d;
}

.gw_left button {
  border-radius: 4px;
  background-color: #fb811e;
  color: white;
  padding: 20px 35px;
  font-size: 15px;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;
}

.gw_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gw_left {
  padding: 3em 3em;
  width: 40%;
}

.gw_right_content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 60%;
}

.whatwedo {
  background-color: #009f4d;
  display: flex;
}

/* .whatwedo_content {
    width: 100%;
  } */

.whatwedo_title {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wwd_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.item_img img {
  width: 100%;
}
/* div {
    display: block;
  } */

.wwd_content_item {
  background-color: white;
  border-radius: 5px;
  padding: 30px 45px;
  border: 3px solid transparent;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transition: all 0.5s;
}

/* whychooseus  */
.wcu_left {
  padding: 4em;
}

.wcu_left span {
  color: #fb811e;
}

.image_right img {
  border-radius: 14em;
  padding: 10em;
}

.stat_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.stat_item {
  border: 1px solid transparent;
  transition: all 0.3s;
  padding: 1em;
}
.stat_item:hover {
  border: 1px solid;
}
.stat_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* gallery  */

.gallery .btn1 {
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  font-weight: 600;
  background: #fb811e;
  border: none;
  color: #fff;
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}

.gallery_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 30px;
}

.gallery_img img {
  width: 100%;
}

/* aboutpagecover */

.AboutPageCover {
  background: url(./../img/about/bg1.jpg);
  background-size: cover;
  position: relative;
  z-index: 1;
}
.AboutPageCover::before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel {
  width: 100%;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
}
.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}
.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
}
.testimonial-content {
  max-width: 900px;
  margin: auto;
}
.AboutPageCover .testi-des {
  text-align: center;
}
a.testi-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 50%;
}
.AboutPageCover .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.AboutPageCover .testimonial .peopl {
  margin: 0;
}
.AboutPageCover .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 5px;
  color: #fff;
}
.AboutPageCover p.identity {
  color: #fff;
  font-size: 16px;
}
.AboutPageCover span.fa {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}
.fa-quote-left:before {
  content: "ï„";
}
.AboutPageCover blockquote q {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}
.AboutPageCover .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
  bottom: -90px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}
.AboutPageCover .owl-theme .owl-dots .owl-dot.active span,
.AboutPageCover .owl-theme .owl-dots .owl-dot:hover span {
  background: #fb811e;
  opacity: 1;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  border: none;
}
.AboutPageCover span.fa {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}
.AboutPageCover blockquote {
  margin: 0 0 1rem;
}
q::before {
  content: open-quote;
}
q::after {
  content: close-quote;
}
.owl-carousel,
.owl-carousel .owl-item {
  position: relative;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
}
.AboutPageCover .owl-dots {
  position: absolute;
  left: 0px;
  right: 0;
  background: none;
}
.w3l-clients-1 .owl-theme .owl-dots .owl-dot span {
  background: #fff;
  opacity: 0.3;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 1px;
  background: #aaa;
  display: block;
  transition: opacity 0.2s ease;
  position: relative;
  opacity: 0.9;
  border-radius: 30px;
}
#owl-demo2 > div.owl-dots > button {
  padding: 5px;
}
.logo1 {
  color: #fb811e;
}

/* team css  */
/* team css  */
.team {
  background-color: #009f4d;
}
.team .small_title {
  font-size: 25px;
}
.team .mid_title {
  font-size: 50px;
  line-height: 60px;
}
.team .bg_team {
  position: absolute;
  color: #fff;
  font-weight: bold;
  z-index: 0;
  opacity: 0.14;
  font-size: 13vw;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
}
.team .team_content .team_bg {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
}
.team .team_content .team_bg .team_img {
  position: relative;
}
.team .team_content .team_bg .team_img img {
  width: 100%;
  max-width: 100%;
  display: block;
  border-radius: 8px;
}
.team .team_content .team_bg .team_person {
  position: relative;
}
.team .team_content .team_title {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 1px;
  display: block;
}
.team .team_content .team_overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background-color: rgb(8 8 8 / 54%);
  opacity: 0;
  transition: all 0.3s;
}
.team .team_content .team_overlay .top {
  position: absolute;
  top: 0%;
  width: 100%;
  opacity: 0;
  transform: translateY(-55%);
  transition: all 0.3s 0.2s;
  padding: 0 20px;
}
.team .team_content .team_overlay .bot_icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  transform: translateY(45%);
  transition: all 0.3s 0.2s;
  font-size: 35px;
}
.team .team_content .team_overlay .bot_icons i {
  color: white;
}
.team .team_person:hover .team_overlay .top {
  top: 35%;
}
.team .team_person .team_overlay a {
  transition: all 0.3s;
}
.team .team_person .team_overlay a:hover {
  color: orange;
}
.team .team_person .team_overlay i {
  transition: all 0.3s;
}
.team .team_person .team_overlay i:hover {
  color: orange;
}
.team .team_person:hover .team_overlay .bot_icons {
  bottom: 10%;
}
.team .team_person:hover .team_overlay,
.team .team_person:hover .team_overlay .top,
.team .team_person:hover .team_overlay .bot_icons {
  opacity: 1;
}
.team .team_person {
  overflow: hidden;
}
.team .team_content .team_overlay .bot_icons a {
  margin: 0 10px;
  color: #1e272e;
  font-size: 16px;
}
.team .team_content .team_overlay h4 a {
  text-align: center;
  color: #fff;
  font-weight: bold;
}
/* map  */

.map_content iframe {
  height: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* git */

.getintouch {
  padding: 6em 0px;
}

.git_left_title h3 {
  color: #fb811e;
}

.git_left_title h1 {
  font-weight: bolder;
}

.git_left_item .logo {
  color: #fb811e;
}

.git_right {
  width: 40%;
}

.git_left_list_item p:hover {
  color: #fb811e;
}

.git_right button {
  border-radius: 4px;
  background-color: #fb811e;
  color: white;
  padding: 20px 35px;
  font-size: 15px;
  border-radius: 30px;
  color: white;
  border: none;
  cursor: pointer;
}

.git_right input,
textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid;
  outline: none;
  border-radius: 3px;
  margin-bottom: 15px;
}

/* footer  */

.footer h3 {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer a.logo {
  font-size: 32px;
  color: #fb811e;
  padding: 0px;
  position: relative;
  transition: all 0.5s;
}

.footer a.logo i {
  position: absolute;
  top: -10px;
  left: 55px;
  font-size: 20px;
}
.footer a.logo:hover {
  color: black;
}

.footer .column-2 p {
  line-height: 24px;
}
.footer .footer-p p a {
  color: #707070;
}
.footer .footer-p p a:hover {
  color: #fb811e;
}

.footer p.copy-text a {
  color: green;
}

.footer p.copy-text a:hover {
  color: #fb811e;
}

.footer .subscribe input[type="email"] {
  background: #f4f4f4;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  border: 1px solid #eee;
  border-radius: 30px 0px 0px 30px;
}

.footer .subscribe button {
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  cursor: pointer;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
}

.footer .subscribe button:hover {
  opacity: 0.8;
}

.footer ul.social li,
.footer ul.jst-link li {
  display: inline-block;
  margin-right: 5px;
}

.footer ul.social li a {
  color: green;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  transition: all 0.5s;
}

.footer ul.social li a:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
}

.footer ul.social li a span {
  font-size: 15px;
  line-height: 35px;
}
